body {
  background-image: url("https://www.google.com/search?q=background+image&rlz=1C1CHBD_enIN932IN932&sxsrf=ALeKk03Oh8U3B1JPEWI0lZCJ8ZW98mL72A:1610467134020&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjA3cfL4ZbuAhXbR30KHUCwAKwQ_AUoAXoECBQQAw&biw=649&bih=544#imgrc=C1CLKt-4p4z5TM");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
